<div class="flex flex-col items-center mt-4" [ngSwitch]="repoListStatus">
  <h2 class="text-center pt-4 text-2xl sm:text-3xl">Public Repositories List</h2>

  <nz-list nzGrid nzBordered class="w-11/12 rounded-lg">
    <ng-template [ngSwitchCase]="'success'">
      <div class="flex flex-wrap justify-center">
        <nz-list-item *ngFor="let repo of repoList" class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
          <app-repo-details
            [userName]="userName"
            [repo]="repo"
            class="h-full w-full"
          ></app-repo-details>
        </nz-list-item>
      </div>
      <nz-footer class="grid place-items-center">
        <nz-pagination
          [nzPageIndex]="currentPage"
          [nzTotal]="totalPages"
          [nzPageSize]="pageSize"
          (nzPageIndexChange)="pageChanged($event)"
        >
        </nz-pagination>
      </nz-footer>
    </ng-template>
    <ng-template [ngSwitchCase]="'loading'">
      <app-loader [numRows]="10"></app-loader>
    </ng-template>

    <ng-template [ngSwitchCase]="'error'">
      <app-error></app-error>
    </ng-template>

    <ng-template ngSwitchDefault>
      <app-empty></app-empty>
    </ng-template>
  </nz-list>
</div>
